<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Add a new tree to the map</h2>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <form action="/add_tree" method="post">
            <label for="species">Species:</label>
            <input type="text" name="species">
            <label for="location">Location:</label>
            <input type="text" name="location">
            <label for="date">Date Found:</label>
            <input type="date" name="date">
            <label  for="zip">Zip Code:</label>
            <input type="number" name="zip">
            <label for="notes">Notes:</label>
            <input type="text" name="notes">
            <button action="/add_tree">Submit</button>
        </form>
    </div>
</body>
</html>